
wellnest-api/.vs/Wellnest-API/v16/.suo
wellnest-api/obj/Debug/netcoreapp3.1/Wellnest-API.csproj.CoreCompileInputs.cache
wellnest-api/obj/Debug/netcoreapp3.1/Wellnest-API.csproj.CoreCompileInputs.cache
wellnest-api/obj/Debug/netcoreapp3.1/Wellnest-API.csproj.FileListAbsolute.txt
wellnest-api/bin/Debug/netcoreapp3.1/Wellnest-API.dll
wellnest-api/bin/Debug/netcoreapp3.1/Wellnest-API.pdb
wellnest-api/bin/Debug/netcoreapp3.1/Wellnest-API.runtimeconfig.dev.json
wellnest-api/obj/Debug/netcoreapp3.1/Wellnest-API.csproj.CoreCompileInputs.cache
wellnest-api/obj/Wellnest-API.csproj.nuget.g.props
wellnest-api/obj/Wellnest-API.csproj.nuget.dgspec.json
wellnest-api/obj/project.nuget.cache
wellnest-api/obj/project.assets.json
wellnest-api/.vs/Wellnest-API/v16/.suo
wellnest-api/obj/Debug/netcoreapp3.1/Wellnest-API.pdb
API/obj/Debug/netcoreapp3.1/Wellnest-API.csproj.CoreCompileInputs.cache
Application/obj/Debug/netcoreapp3.1/Application.csproj.CoreCompileInputs.cache
API/obj/Debug/netcoreapp3.1/Wellnest-API.assets.cache
Application/obj/Debug/netcoreapp3.1/Application.assets.cache
*.cache
*.cache
