
wellnest-api/.vs/Wellnest-API/v16/.suo
wellnest-api/obj/Debug/netcoreapp3.1/Wellnest-API.csproj.CoreCompileInputs.cache
wellnest-api/obj/Debug/netcoreapp3.1/Wellnest-API.csproj.CoreCompileInputs.cache
