#add-div-l {
    display: flex;
    flex-direction: column;
    padding: 10px;
}

#span-div{
    position: relative;
    color:black;
    left: 250px;
}
#add-main-div{
    position: relative;
    left: 350px;
    top: 60px;
    padding-top: 30px;
    width: 630px;
    height: 590px;
    border: 2px lightblue solid;
}

#img-span{
    position: relative;
    left: 130px;
    top: 40px;
}
#name-l {
    position: relative;
    left: 275px;
    font-family: "Lucida Console", "Courier New", monospace;
}

#name-input {
    position: relative;
    border: 1px lightblue solid;
    text-align: center;
    left: 180px;
    height: 35px;
    width: 250px;
    cursor: pointer;
    top: 10px;
}

#info-l {
    position: relative;
    left: 250px;
    top: 20px;
    font-family: "Lucida Console", "Courier New", monospace;
}

#information-txt {
    position: relative;
    top: 30px;
    left: 160px;
    width: 300px;
    cursor: pointer;
    height: 80px;
    border: 1px lightblue solid;
    font-family: "Lucida Console", "Courier New", monospace;
}

#add-div {
    position: relative;
    top: 50px;
    left: 225px;
    height: 40px;
    padding: 10px;
    background-color: white;
    color: black;
    border: 1px lightblue solid;
    cursor: pointer;
    width: 150px;
    text-align: center;
    font-weight: 600;
    font-family: "Lucida Console", "Courier New", monospace;
}

#img-label {
    position: relative;
    top: 45px;
    left: 250px;
    background-color: white;
    border: 1px lightblue solid;
    width: 100px;
    height: 35px;
    padding-top: 5px;
    text-align: center;
    cursor: pointer;
}
#add-div:hover,#img-label:hover{
    background-color: rgba(140, 173, 184, 0.521);
}