.MainPage{
    /* border: 1px solid lightblue; */
    height: 1050px;
 
    
}
.Dashboard-left-side{
    /* border: 1px solid lightblue; */
    margin-top: 10px;
    width: 20%;
    height: 1000px;
    
}
.Dashboard-profile-side{
    /* border:1px solid lightblue;
    background-color: lightblue; */
    width: 100%;
    height: 50%;
    display: block;
    justify-content: space-between;
    float: left;
}
.Covid-19-Profile-cases{
    /* border: 1px solid lightblue; */
    width: 100%;
    height: 26%;
    display: block;
    float: left;
}
.NavBAR{
    justify-content: center;
}
  .MainPageHeader{
      border: 1px solid white;
  }

  .Title{
      /* border: 1px solid lightblue; */
      width: 100%;
      height: 20%;
   
      border-radius: 10px;
  }
  .PatientsHistoricStyle{
      margin-left: 10px;
      font-family: 'Oxygen', sans-serif;
      color: black;
      font-weight: bold;
      font-size: 30px;
      padding: 10px;
  }
  .PatientData{
      /* border: 1px solid lightblue; */
      width: 100%;
      height: 20%;
      margin-top: 3%;
  }

  .Main-Div-{
      /* border: 1px solid red; */
      width: 80%;
      height: 1000px;
      display: flex;
      align-items:flex-start;
      background-image: url('./lightblue.jpg');
      background-repeat: repeat-x;
      background-size: 400px 300px;
      float: right;
    margin-top: 0;
    }

  .CardStyle{
      margin-left: 5%;
      margin-top:5%;
  }

  .Paragrpah{
      margin-top: 10%;
      margin-left: 10%;
      font-size: 22px;
        font-weight: bold;
        }

        .Paragrpah1{
            font-size: 19px;
            font-weight: bold;
            margin-left: 10%;
        }

        #test1{
            border:1px solid red;
            width: 100%;
        }

        .ui.bottom.attached.segment.active.tab {
            height: 1000px;
        }

        .logopng{
            width: 302px;
             height: 139px;
            margin-bottom: 20%;
            margin-top: 10%;
        }

        .Tabs{
            border:1px solid black;
            height: 1000px;
            width: 87%;
            background-image: url('./lightblue.jpg');
            background-repeat: repeat-x;
            background-size: 300px 250px;
            position: absolute;
            display: flex;
            left: 19%;
            top: 0%;
            color: black;
        }

        .colheight{
            height: 1000px;
        }




        #left-side{
            /* border: 1px solid black; */
            width: 20%;
            height: 720px;
            display: inline-flex;
            flex-wrap: wrap;
        }

        #left-side>ul{
            list-style: none;
            float: left;
            padding: 0px;
            width: 100%;
            text-align: left;
            margin-top: 0%;
            display: inline;
        }
        

        .li-style{
            border: 1px solid black;
            padding: 10px 20px;
            border-style: none;
            
        }
        .li-style:hover{
            background-color: gainsboro;
        }
        .li-style::first-letter{
            font-weight: Bold;
            font-size: larger;

        }
      
        .li-style-overview{
            font-weight: bold;
            border-left:5px solid aquamarine;
            

        }

        #style-photo{
            width: 132%;
             height:89%;
            display: inline-flex;
            align-content: center;
            margin-left: -46px;
        }
        #picture{
            /* border: 1px solid black; */
            width: 100%;
            height: 30%;
            display: inline;

        }

        #main-page-overview{
            border: 1px solid black;
            height: 720px;
            width: 80%;
            display: inline-flex;
            float: right;
        }

        #covid-19vid{
            border: 1px solid black;
            display: inline-flex;
            height: 30%;
            background-clip: border-box;
            background-color:aquamarine;
            overflow: hidden;
            width: 100%;
            
        }

        #covid-19map{
            border: 1px solid black;
            display: inline-flex;
            height: 30%;
            overflow: hidden;
            width: 100%;
            background-clip: border-box;
            background-color:aquamarine;
            
        }
        #covid-19stats{
            border: 1px solid black;
            display: inline-flex;
            height: 30%;
            overflow: hidden;
            width: 100%; 
            background-clip: border-box;
            background-color:aquamarine;
        }

        #covid-19stats>ul{
            list-style: none;
            margin-top: 25%;
            font-size: 20px;
        }
        #mainpage-dif{
            border: 1px solid black;
            display: inline-flex;
            height: 50%;
            overflow: hidden;
            width: 100%;
        }
        .covidlist{
            padding: 9px 4px;
            border: 1px solid black;
            margin-top: 5%;
        }