#label-modal-div1{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding-left: 15px;
    padding-right: 15px;
    border-bottom: 1px solid black;
}
#main-button-analysis{
    display: flex;
    position: relative;
    top: 200px;
    left: 500px;

}

#main-div-form-analysis{
    height: 600px;
    position: absolute;
    left: 360px;
    top: 100px;
    width: 650px;

}
#label-modal-div5{
    display: flex;
    flex-direction: row;
    justify-content:space-around;
    padding-left: 55px;
    padding-right: 15px;
    border-bottom: 1px solid black;
    padding-top: 10px;
 

}
#p-textarea1{
    margin-right: 35px;
}
.analysis-title{
    text-align: center  ;
}
#buttons-modal-analysis{
    position: relative;
    display: flex;
    flex-direction: column;
    text-align: center;
    left: 750px;
    top: -10px;
    justify-content: center;

}

#add-button-dia{
    position: relative;
    bottom: 40px;
}
#edit-button-dia{
    position: relative;
    bottom: 20px;

}


.modals-analysis{
    height: 500px;
    left: 315px;
    top: 120px;
}

.date_diagnose{
    border: none;
    height: 30px;
    border-bottom:1px solid grey;
}

#input-add-analysis{
    border: none;
    border-bottom:1px solid grey;
    height: 30px;
}
.add-analysis-buttons{
    display: flex;
    justify-content: center;
}
#add-analysis{
    display: flex;
    position: relative;
    flex-direction: column;
    width: 600px;
    height: 350px;
    left: 150px;
    justify-content: space-evenly;
}
#edit-analysis{
    display: flex;
    position: relative;
    flex-direction: column;
    width: 600px;
    height: 350px;
    left: 150px;
    justify-content: space-evenly;
}
#delete-modal-a{
    position: relative;
    top: 30px;
    height: 200px;
}