#label-modal-div1{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding-left: 15px;
    padding-right: 15px;
    border-bottom: 1px solid black;
}
#main-button-status{
    display: flex;
    position: relative;
    top: 200px;
    left: 500px;

}


#main-div-form-status{
    height: 600px;
    position: absolute;
    left: 450px;
    top: 100px;
    width: 650px;

}
#label-modal-div2{
    display: flex;
    flex-direction: row;
    justify-content:space-around;
    padding-left: 15px;
    padding-right: 15px;
    border-bottom: 1px solid black;
    padding-left: 50px;
    padding-top: 10px;

}

.status-title{
    text-align: center  ;
}
#buttons-modal-status{
    position: relative;
    display: flex;
    flex-direction: column;
    text-align: center;
    left: 750px;
    top: -10px;
    justify-content: center;

}
.modals-status{
    height: 500px;
    left: 315px;
    top: 120px;
}
#input-add-status{
    border: none;
    border-bottom:1px solid grey;
    height: 30px;
}
.add-status-buttons{
    display: flex;
    justify-content: center;
}
#add-status{
    display: flex;
    position: relative;
    flex-direction: column;
    width: 600px;
    height: 350px;
    left: 150px;
    justify-content: space-evenly;
}
#add-button-dis{
    position: relative;
    bottom: 40px;
}
#edit-button-dis{ 
    position: relative;
    bottom: 20px;

}


#edit-status{
    display: flex;
    position: relative;
    flex-direction: column;
    width: 600px;
    height: 350px;
    left: 150px;
    justify-content: space-evenly;
}
#delete-modal-a{
    position: relative;
    top: 30px;
    height: 200px;
}